## Exercício 05

#### ✦ Crie uma lista com 5 nomes de filmes que você goste.
#### ✦ Crie uma 2ª lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo). Tranforme isso em um dataframe;
#### ✦ Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles;

In [2]:
import pandas as pd

filmes = ['Como perder um homem em 10 dias', 'Trainspotting', 'Mid90', 'Buffalo 66', 'Sobre lobos e meninos']
ano_lancamento = [2003, 1996, 2018, 1998, 2003]

dados_filmes = pd.DataFrame ({
    'Filmes' : filmes,
    'Ano de lançamento' : ano_lancamento,
})

print(dados_filmes)

                            Filmes  Ano de lançamento
0  Como perder um homem em 10 dias               2003
1                    Trainspotting               1996
2                            Mid90               2018
3                       Buffalo 66               1998
4            Sobre lobos e meninos               2003

In [3]:
notas_filmes = [10, 9, 9, 10, 10]

dados_filmes['Notas'] = notas_filmes
print(dados_filmes)

                            Filmes  Ano de lançamento  Notas
0  Como perder um homem em 10 dias               2003     10
1                    Trainspotting               1996      9
2                            Mid90               2018      9
3                       Buffalo 66               1998     10
4            Sobre lobos e meninos               2003     10

#### ✦ Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.
#### ✦ Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.
#### ✦ Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final

In [4]:
series = ['Breaking Bad', 'Friends', 'Peaky Blinders', 'Dark', 'The Office']
ano_lancamento = [2008, 1994, 2013, 2017, 2005]
notas = [10, 9, 10, 10, 9]

dados_series = pd.DataFrame ({
    'Séries' : series,
    'Ano de lançamento' : ano_lancamento,
    'Notas' : notas
})

print(dados_series)

           Séries  Ano de lançamento  Notas
0    Breaking Bad               2008     10
1         Friends               1994      9
2  Peaky Blinders               2013     10
3            Dark               2017     10
4      The Office               2005      9

In [5]:
desenhos = ['Coraline', 'Por Água Baixo', 'Shrek', 'A Noiva Cadáver', 'Os Sem Florestas']
ano_lancamento = [2009, 2006, 2001, 2005, 2006]
notas = [10, 9, 10, 10, 9]

dados_desenhos = pd.DataFrame({
    'Desenhos' : desenhos,
    'Ano de lançamento' : ano_lancamento,
    'Notas' : notas,
})

print(dados_desenhos)

           Desenhos  Ano de lançamento  Notas
0          Coraline               2009     10
1    Por Água Baixo               2006      9
2             Shrek               2001     10
3   A Noiva Cadáver               2005     10
4  Os Sem Florestas               2006      9

In [8]:
dados_filmes.to_csv('filmes.csv')
dados_filmes.to_json('filmes.json')
dados_filmes.to_html('filmes.html')

In [9]:
dados_series.to_csv('series.csv')
dados_series.to_json('series.json')
dados_series.to_html('series.html')

In [10]:
dados_desenhos.to_csv('desenhos.csv')
dados_desenhos.to_json('desenhos.json')
dados_desenhos.to_html('desenhos.html')

In [7]:
filmes = ['Como perder um homem em 10 dias', 'Trainspotting', 'Mid90', 'Buffalo 66', 'Sobre lobos e meninos']
ano_lancamento = [2003, 1996, 2018, 1998, 2003]

dados_filmes = pd.DataFrame ({
    'Filmes' : filmes,
    'Ano de lançamento' : ano_lancamento,
})
notas_filmes = [10, 9, 9, 10, 10]

dados_filmes['Notas'] = notas_filmes

series = ['Breaking Bad', 'Friends', 'Peaky Blinders', 'Dark', 'The Office']
ano_lancamento = [2008, 1994, 2013, 2017, 2005]
notas = [10, 9, 10, 10, 9]

dados_series = pd.DataFrame ({
    'Séries' : series,
    'Ano de lançamento' : ano_lancamento,
    'Notas' : notas
})

desenhos = ['Coraline', 'Por Água Baixo', 'Shrek', 'A Noiva Cadáver', 'Os Sem Florestas']
ano_lancamento = [2009, 2006, 2001, 2005, 2006]
notas = [10, 9, 10, 10, 9]

dados_desenhos = pd.DataFrame({
    'Desenhos' : desenhos,
    'Ano de lançamento' : ano_lancamento,
    'Notas' : notas,
})

result = pd.concat([dados_filmes, dados_series, dados_desenhos], axis=1)
(result)

,Filmes,Ano de lançamento,Notas,Séries,Ano de lançamento,Notas,Desenhos,Ano de lançamento,Notas
0,Como perder um homem em 10 dias,2003,10,Breaking Bad,2008,10,Coraline,2009,10
1,Trainspotting,1996,9,Friends,1994,9,Por Água Baixo,2006,9
2,Mid90,2018,9,Peaky Blinders,2013,10,Shrek,2001,10
3,Buffalo 66,1998,10,Dark,2017,10,A Noiva Cadáver,2005,10
4,Sobre lobos e meninos,2003,10,The Office,2005,9,Os Sem Florestas,2006,9