#### Fiz esse exercício sozinha, pois minha dupla saiu do programa.

### Exercício 08 – miniBoss – Coop –
#### ✦ Leia o arquivo do datase em csv;
#### ✦ Visualize as primeiras linhas do dataset;
#### ✦ Visualize informações básicas do dataset, como: nomes das colunas, número de linhas, número de campos nulos, etc;

In [9]:
import pandas as pd

df = pd.read_csv('netflix.csv')

In [10]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8817 entries, 0 to 8816
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8817 non-null   object
 1   type          8817 non-null   object
 2   title         8817 non-null   object
 3   director      6179 non-null   object
 4   cast          7992 non-null   object
 5   country       7985 non-null   object
 6   date_added    8807 non-null   object
 7   release_year  8817 non-null   int64
 8   rating        8813 non-null   object
 9   duration      8814 non-null   object
 10  listed_in     8817 non-null   object
 11  description   8817 non-null   object
dtypes: int64(1), object(11)
memory usage: 826.7+ KB

#### ✦ Visualize informações sobre os campos numéricos do dataset, como: média, valor minimo e maximo, etc;
#### ✦ Remova informações nulas;
#### ✦ Verifique se existem dados duplicados;
#### ✦ Remova informações duplicadas;
#### ✦ Remova as colunas 'listed_in' e 'duration'.

In [12]:
df.describe()

       release_year
count   8817.000000
mean    2014.180333
std        8.817990
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [13]:
df_cleaned = df.dropna()

In [14]:
df.duplicated().any()

np.True_

In [15]:
df_cleaned = df_cleaned.drop_duplicates()

In [16]:
df_cleaned = df_cleaned.drop(columns=['listed_in', 'duration'])

In [18]:
print("\nPrimeiras linhas após remoções e limpezas:")
df_cleaned.head()

Primeiras linhas após remoções e limpezas:

,show_id,type,title,director,cast,country,date_added,release_year,rating,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,"On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,When the father of the man she loves insists t...