## Exercício 5

#### ✦ Crie uma lista com 5 nomes de filmes que você goste.
#### ✦ Crie uma 2a lista com o ano de lançamento desses 5 filmes (pode pesquisar, eu deixo). Tranforme isso em um dataframe;
#### ✦ Adicione uma nova coluna com a nota, de 1 a 10, de quanto você gosta deles;

In [4]:
import pandas as pd 

filmes = ['Como perder um homem em 10 dias', 'Trainspotting', 'Mid90', 'Buffalo 66', 'Sobre lobos e meninos']
ano_lancamento = [2003, 1996, 2018, 1998, 2003]

dadosfilmes = pd.DataFrame ({
    'Filmes' : filmes,
    'Lançamento' : ano_lancamento
})

print(dadosfilmes)

                            Filmes  Lançamento
0  Como perder um homem em 10 dias        2003
1                    Trainspotting        1996
2                            Mid90        2018
3                       Buffalo 66        1998
4            Sobre lobos e meninos        2003

In [6]:
notas_filmes = [10,9,9,10,10]

dadosfilmes['Notas'] = notas_filmes
print (dadosfilmes)

                            Filmes  Lançamento  Notas
0  Como perder um homem em 10 dias        2003     10
1                    Trainspotting        1996      9
2                            Mid90        2018      9
3                       Buffalo 66        1998     10
4            Sobre lobos e meninos        2003     10

#### ✦ Crie mais 2 dataframes, de séries e anime/desenhos que você gosta, com as mesmas colunas acima.
#### ✦ Salve os 3 dataframes em 'csv', 'json' e 'html' e nos envie os arquivos.
#### ✦ Concatene horizontalmente os 3 dataframes, ficando 9 colunas no final.

In [7]:
series = ['Breaking Bad', 'Friends', 'Dark', 'Peaking Blinders', 'Hannibal']
ano_lancamento = [2008, 1994, 2017, 2013, 2013]
notas_series = [10, 10, 10, 10, 9]
 
dadosseries = pd.DataFrame ({
    'Séries' : series,
    'Lançamento' : ano_lancamento,
    'Notas' : notas_series
})

print(dadosseries)

             Séries  Lançamento  Notas
0      Breaking Bad        2008     10
1           Friends        1994     10
2              Dark        2017     10
3  Peaking Blinders        2013     10
4          Hannibal        2013      9

In [10]:
desenhos = ['Coraline', 'Por Água Abaixo', 'Shrek', 'A Noiva Cadáver', 'Os Sem Florestas']
ano_lancamento = [2009, 2006, 2001, 2005, 2006]
notas_desenhos = [10, 9, 10, 10, 9]

dadosdesenhos = pd.DataFrame ({
    'Desenhos' : desenhos,
    'Lançamento' : ano_lancamento,
    'Notas' : notas_desenhos
})

print(dadosdesenhos)

           Desenhos  Lançamento  Notas
0          Coraline        2009     10
1   Por Água Abaixo        2006      9
2             Shrek        2001     10
3   A Noiva Cadáver        2005     10
4  Os Sem Florestas        2006      9

In [9]:
dadosfilmes = pd.DataFrame ({
    'Filmes' : filmes,
    'Lançamento' : ano_lancamento
})

notas_filmes = [10,9,9,10,10]

dadosfilmes['Notas'] = notas_filmes

dadosseries = pd.DataFrame ({
    'Séries' : series,
    'Lançamento' : ano_lancamento,
    'Notas' : notas_series
})

dadosdesenhos = pd.DataFrame ({
    'Desenhos' : desenhos,
    'Lançamento' : ano_lancamento,
    'Notas' : notas_desenhos
})

result = pd.concat ([dadosfilmes, dadosseries, dadosdesenhos], axis=1)
(result)

,Filmes,Lançamento,Notas,Séries,Lançamento,Notas,Desenhos,Lançamento,Notas
0,Como perder um homem em 10 dias,2009,10,Breaking Bad,2009,10,Coraline,2009,10
1,Trainspotting,2006,9,Friends,2006,10,Por Água Abaixo,2006,9
2,Mid90,2001,9,Dark,2001,10,Shrek,2001,10
3,Buffalo 66,2005,10,Peaking Blinders,2005,10,A Noiva Cadáver,2005,10
4,Sobre lobos e meninos,2006,10,Hannibal,2006,9,Os Sem Florestas,2006,9

In [9]:
dadosfilmes.to_csv('filmes.csv')
dadosfilmes.to_json('filmes.json')
dadosfilmes.to_html('filmes.html')

In [10]:
dadosseries.to_csv('series.csv')
dadosseries.to_json('series.json')
dadosseries.to_html('series.html')

In [11]:
dadosdesenhos.to_csv('desenhos.csv')
dadosdesenhos.to_json('desenhos.json')
dadosdesenhos.to_html('desenhos.html')